@theme "~/.config/rofi/themes/catppuccin-mocha.rasi"
// @theme "~/.config/rofi/themes/nova-dark.rasi"
// @theme "~/.config/rofi/themes/clipboard.rasi"
// @theme "~/.config/rofi/themes/default.rasi"
// @theme "~/.config/rofi/themes/wallpaper-select.rasi"
// @theme "~/.config/rofi/themes/waybar-layout.rasi"
// @theme "~/.config/rofi/themes/waybar-style.rasi"
